.card {
    margin-top: 30px;
    width: 100%;
    max-width: 120px;
    height: auto;
    background-color: rgba(209, 149, 194, 0.5);
    animation: change 5s;
    box-shadow: 5px 5px rgba(27, 25, 26, 0.5);
    border-radius: 15px;
}

@media screen and (min-width: 350px) and (max-width: 768px) {
    .containers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two columns with equal width */
        gap: 20px;
        /* Adjust the gap between columns as needed */
    }
    /* Styles for each column (optional) */
    .colmn {
        border: 1px solid #ccc;
        /* Border for visualization, you can customize this */
        padding: 20px;
        /* Add padding as needed */
        box-sizing: border-box;
        /* Include padding in the width */
    }
}

@keyframes change {
    100% {
        background-color: rgba(98, 145, 183, 0.5);
    }
    50% {
        background-color: rgba(77, 73, 76, 0.5);
    }
    0% {
        background-color: rgba(209, 149, 194, 0.5);
    }
}